
@{
    ViewBag.Title = "لیست تیکت های پشتیبانی";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">

        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("میز کار", "index", "index")
            </li>
            <li class="active">
                لیست تیکت ها
            </li>
        </ol>
         


        <div id="sticky-anchor"></div>
        <div class="tobesticky" id="sticky">
            <div class="pull-left mainbtns">
                <a href="@Url.Action("add","support")" class="btn btn-inverse waves-effect"><i class='fa fa-plus'></i> ارسال تیکت جدید</a>
   </div>
             
                <h4 class="page-title">لیست تیکت ها</h4>
             
        </div>




    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="k-rtl">
            

            @Html.AntiForgeryToken()

            <div class="dataloading"></div>


            <div id="grid"></div>


        

             


        </div>
    </div>
</div>
 

 
@section Scripts {

<script id="rowTemplate" type="text/x-kendo-tmpl">

    <tr data-uid="#: uid #" role="row" class="#if(IsNew != true) {# unreadrow #}#">
        <td>
            <a href='support/ticket/#=ID#'>#=Title#</a>
        </td>
        <td><div class='text-center'>#=Part#</div></td>
        <td>
            <div class="text-center">#=LastUpdate#</div>
        </td>
        <td>
            <div class="text-center">#=Status#</div>
        </td>
        <td>
            <div class='text-center gridbtn'>
                <a title='حذف رکورد' class='deleteconfirm' onclick="deleteTicketRecord(#=ID#);"><i class='fa fa-times'></i></a>

            </div>
        </td>
    </tr>



</script>


<script>
    
    $(function () {
            $("#grid").kendoGrid({
             
                scrollable: false   ,
                columns: [
                     
                    { field: "Title", title: 'عنوان تیکت'  },
                    { field: "Part", title: 'بخش مربوط', width: 200,  filterable: false },
                    { field: "LastUpdate", title: 'بروزرسانی', width: 130,   filterable: false },
                    { field: "Status", title: 'وضعیت', width: 170, encoded: false, filterable: false }, 
                    {
                        field: "", title: "تنظیمات", width:50
                    }


                ],
                rowTemplate: kendo.template($("#rowTemplate").html()),
                editable: false, // enable editing

                pageable: {
                    pageSizes: [5, 10, 20, 50, 100],
                    messages: {
                        itemsPerPage: ""
                    }, buttonCount: 4
                },
                sortable: true,
                filterable: true, 
                dataSource: {
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true,
                    pageSize: 20,
                    schema: {
                        data: "Data",
                        total: "Total",
                        model: { // define the model of the data source. Required for validation and property types.
                            id: "ID",
                            fields: {
                                ID: { type: "number" },
                                Title: { type: "string"},
                                Url: { type: "string" },
                                ViewCount: { type: "number" }
                            }
                        }
                    },

                    batch: true, // enable batch editing - changes will be saved when the user clicks the "Save changes" button
                    transport: {
                        read: {
                            url: "@Url.Action("ListTickets", "support")", //specify the URL which should return the records. This is the Read method of the HomeController.
                            contentType: "application/json",
                            type: "POST" //use HTTP POST request as by default GET is not allowed by ASP.NET MVC

                        },
                        parameterMap: function (data, operation) {
                            if (operation == "read") {
                                $('.dataloading').hide();
                                return JSON.stringify(data)
                            }
                        }
                    }
                }
            });



             

    });

 


</script>
     }