@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "حذف رول";
}
 

<h3>از حذف این رول اطمینان دارید؟ </h3>
<p>حذف رول، دسترسی کاربران این رول را حذف می کند. کاربرها حذف نمی شوند.</p>
<div> 
    <dl class="dl-horizontal">
        <dt>
            نام رول
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف شود" class="btn btn-default" /> |
            @Html.ActionLink("لیست رول ها", "roleslist")
        </div>
    }
</div>
