@using System.ComponentModel.DataAnnotations;
@using Microsoft.AspNet.Identity
@using CMS.Models
@{
    ViewBag.Title = "داشبورد کاربری";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
       
        <h4 class="page-title">میز کار</h4>
        <p class="text-muted page-title-alt">خوش آمدید !</p>
    </div>
</div>


 
<br /><br /><br />


@section scripts{
 
}


