@model ViewModels.DashboardViewModel
@{
    ViewBag.Title = "خبرنامه";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

 
 
<div class="row"> 
    <div class="col-lg-12">
        <div class="portlet">
          
            <div id="portlet5" class="panel-collapse collapse in">
                <div class="portlet-body">
                    فایل ارسال شد
                    
                </div>
            </div>
        </div>
        <!-- /Portlet -->
    </div>
    <!-- Area Chart -->

</div>
