@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "خطایی رخ داد";
}

<section class="pt-60 pb-50 bg-light botrdertop">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">


                <div class="well bg-white">


                    <img src="~/Content/images/error.png" alt="خطا" class="center-block mb-20" />

                    <h4 class="text-center text-dark">خطایی رخ داد</h4>

                    <p>
                        متاسفانه در پردازش درخواست شما خطایی رخ داد. در صورتی که از ورودی ها مطمئن هستید، مجددا بعدا امتحات کنید
                    </p>

                    <hr class="wellhr" />

                    <div class="text-center mt-15">
                        <a href="/"><i class="fa fa-home"></i> صفحه نخست</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/contactus"><i class="fa fa-user"></i> گزارش مشکل</a>


                    </div>

                </div>

            </div>



        </div>
    </div>
</section>





