
<div class="alert-success alert">
    <i class="fa fa-clock-o pull-left hidden-sm" style="font-size:55px"></i>
    <h4>درخواست در انتظار تایید است</h4>
    پروژه شما در انتظار تایید توسط ناظر می باشد. پس از بررسی و تایید منتشر خواهد شد. در صورت عدم تایید، به شما اطلاع
    رسانی خواهد شد.
</div>