@using Westwind.Globalization;
<div class="contact-form-done">
    <div class="f-modal-alert f-modal-gray">

        <div class="f-modal-icon f-modal-success animate">
            <span class="f-modal-line f-modal-tip animateSuccessTip"></span>
            <span class="f-modal-line f-modal-long animateSuccessLong"></span>
            <div class="f-modal-placeholder"></div>
            <div class="f-modal-fix"></div>
        </div>
    </div>
@Html.Raw(DbRes.T("ContactUs.SuccessMessage", "Sentence"))

</div>