@model List<ViewModels.HomeDownloadsViewModel>

<div class="section-empty border-botton">
    <div class="container content pt-30 pb-30">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="section-title">مرکــــز دانـــلود</h4>
                <p class="section-sub">
                    برای دانلود نرم افزارها، درایورها و اطلاعات دانلودی از این بخش استفاده کنید،
                    لیست زیر پر استفاده ترین نرم افزارهاست، برای مشاهده لیست کامل، روی ادامه کلیک کنید.
                </p>
                <div class="list-items text-right downloadcenter">

                    @foreach (var item in Model)
                    {
                        Html.RenderPartial("Partial/_Download_single", item);
                    }
                     
                    <div class="clearfix"></div>
                </div>
                <a href="/downloads" class="btn btn-primary btn-sm pull-left">ادامه لیست دانلودها <i class="fa fa-angle-left"></i></a>
            </div>


        </div>
    </div>
</div>



 