::selection {
  background-color: #2644bc;
  color: #fff;
}
::-moz-selection {
  background-color: #2644bc;
  color: #fff;
}


.theme-color{
  color: #2644bc;
}

.feature-box:after,
.section-title h2:after,
.section-title p:after,
.btn-theme,
.theme-bg {
  background: #2644bc;
}