@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "دسترسی محدود";
}

<section class="pt-60 pb-50 bg-light botrdertop">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">


                <div class="well bg-white">

                    <div class="f-modal-alert">

                        <div class="f-modal-icon f-modal-warning scaleWarning">
                            <span class="f-modal-body pulseWarningIns"></span>
                            <span class="f-modal-dot pulseWarningIns"></span>
                        </div>
                    </div>

                    <div class="">
                        <h4 class="text-warning text-center">حساب کاربری قفل شد</h4>
                        حساب کاربری شما به دلیل تلاش های ناموفق قفل گردید. لطفا بعدا تلاش کنید.
                    </div>
                    <div class="text-center mt-15">
                        <a href="/"><i class="fa fa-home"></i> صفحه نخست</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/contactus"><i class="fa fa-user"></i> تماس با ما</a>


                    </div>

                </div>
            </div>



        </div>
    </div>
</section>





