@{
    ViewBag.Title = "تایید ایمیل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="pt-60 pb-50 bg-light botrdertop">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">


                <div class="well bg-white">

                    <div class="f-modal-alert">

                        <div class="f-modal-icon f-modal-success animate">
                            <span class="f-modal-line f-modal-tip animateSuccessTip"></span>
                            <span class="f-modal-line f-modal-long animateSuccessLong"></span>
                            <div class="f-modal-placeholder"></div>
                            <div class="f-modal-fix"></div>
                        </div>
                    </div>

                    <div class="">
                        <h4 class="text-success text-center">ایمیل شما تایید شد</h4>
                        ایمیل شما با موفقیت تایید شد. برای ورود به حساب کاربری خود <a href="/login">اینجا کلیک کنید</a>.
                    </div>
                    <div class="text-center mt-15">
                        <a href="/"><i class="fa fa-home"></i> صفحه نخست</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/login"><i class="fa fa-user"></i> ورود به حساب کاربری</a>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
